@font-face {
    font-family: 'Gotham-Black';
    src: url('../fuente/Gotham-Black.otf') format('truetype'); /* Cambia la ruta según la ubicación de tu archivo */
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Gotham-Black';
    background-color: white;
    margin: 0 auto;
}
main{
    padding: 5%;
}
/* Encabezado principal */
h1 {
    text-align: center;
    font-size: 2em;
    text-transform: uppercase; /*todo en mayusculas*/
}


/* Encabezado y pie de página */
header, footer {
    text-align: center;
    background-color: green;
    color: white;
    padding: 1.5em;
    width: 100%;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

footer {
    font-size: 0.9em;
    position: fixed;
    /* Fija el pie de página abajo */
    bottom: 0;
    padding: 1em;
    height: auto;
}


nav {
    position: relative; /* Asegura que el nav no se superponga */
    z-index: 10; /* Asegura que el nav se posicione correctamente */
    display: flex;
    justify-content: center;
    margin-top: -10px; /* Ajusta la posición si es necesario */
}

ul {
    position: relative; /* Mantiene los elementos en el flujo normal */
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 1rem;
    z-index: 10;
}

li {
    position: relative; /* Evita que se superpongan con el header */
}

a {
    display: inline-block; /* Mantiene la forma de botón */
    padding: 10px 20px;
    background-color: green;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

a:hover {
    background-color: #1e7e34;
}
button {
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}
button:hover {
    background-color: #218838;
}
.contenido{ /*sacado de las etiquetas del trabajo grupal para hacer como las etiquetas de las banderas*/
    max-width: 90%;
    margin: 2rem auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
}
.apartado{
    justify-items: center ;
    display: flex;
    max-width: 70%;
    margin: auto;
    gap: 1rem;
    margin: 1rem;
    padding: 1rem;
    background-color: white;
    border-radius: 5%;
    box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s ease, box-shadow 0.5s ease; /* cambia mas lento el tamaño del apartado */
}
.apartado:hover {
    transform: translateY(-10px);
    box-shadow: 6px 6px 16px rgba(0, 0, 0, 0.2);
}
