@font-face {
    font-family: 'Gotham-Black';
    src: url('../../fuente/Gotham-Black.otf') format('truetype'); /* Cambia la ruta según la ubicación de tu archivo */
    font-weight: normal;
    font-style: normal;
}
* {height: 99%;}
h1{
    font-size: 150px ;
    text-align: justify;
}
div.azul {
    background-color: blue;
    width: 100%;
    height: 20%;
}
div.rojo {
    background-color: red;
    width: 20%;
    height: 70%;
    float: left;
}
div.verde {
    background-color: green;
    width: 40%;
    height: 70%;
    float: left;
}
div.amarillo {
    background-color: yellow;
    width: 40%;
    height: 70%;
    float: left;
}
div.naranja{

    clear: both;
    background-color: orange;
    width: 100%;
    height: 10%;

   
}
.boton{
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: lightgray;
    border: 1px solid #333;
    border-radius: 5px;}