
/* Configuración general */

@font-face {
    font-family: 'Gotham-Black';
    src: url('../../fuente/Gotham-Black.otf') format('truetype'); /* Cambia la ruta según la ubicación de tu archivo */
    font-weight: normal;
    font-style: normal;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html {
    font-size: 50px;
}
footer {
    text-align: center;
    background-color: green;
    color: white;
    width: 100%;
    border-radius: 8px;
    font-size: 0.9em;
    margin-left: 25%;
    /* Fija el pie de página abajo */
    bottom: 0;
    max-width: 1000px;
}
header{
    margin-top: 0px;
    text-align: center;
    background-color: green;
    color: white;
    padding: 1em;
    border-radius: 8px;
    margin-bottom: 20px;
    top: 0%;
    max-width: 1000px;
    margin-left: 25%;
    padding-top: 0;
}

table {
    height: 800px;
    width: 800px;
    margin: 12px auto 80px; 
        border:1px solid black;
    border-collapse: collapse;
 
}

a{
    color: white;
}

.fondonegro, .fondoblanco {
    width: 100px;
    height: 100px;
    font-size: 30px;
    justify-content: center;
    align-items: center;
    background-size: cover;
}

.fondonegro {
    background-image: url('../imagenes/fondonegro.png');
}

.fondoblanco {
    background-image: url('../imagenes/fondoblanco.png');
}
