
/* Configuración general */

@font-face {
    font-family: 'Gotham-Black';
    src: url('../../fuente/Gotham-Black.otf') format('truetype'); /* Cambia la ruta según la ubicación de tu archivo */
    font-weight: normal;
    font-style: normal;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
header{
    text-align: center;
    background-color: green;
    color: white;
    padding: 1em;
    width: 100%;
    border-radius: 8px;
    margin-bottom: 20px;
    position: fixed;
    top: 0%;
}

table {
    height: 1000px;
    width: 1000px;
    position: relative;
    margin: auto;
    border:1px solid black;
}


.black {
    height: 100px;
    width: 100px;
    position: relative;
    box-sizing: border-box;
    background-color: black;
    color:white;
    font-size: 50px;
    text-align: center;
}

.white {
    height: 100px;
    width: 100px;
    position: relative;
    box-sizing: border-box;
    background-color: white;
    color:black;
    font-size: 50px;
    text-align: center;
}
