/* Configuración general */

@font-face {
    font-family: 'GothamMedium';
    src: url('../fuente/GothamMedium_1.ttf') format('truetype'); /* Cambia la ruta según la ubicación de tu archivo */
    font-weight: normal;
    font-style: normal;
}
body {
    font-family: 'GothamMedium';
    background-image: url(./fondosdepantalla/posiblefondo6.jpg);
    background-size: cover;
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: center; /* Centra la imagen */
    height: 100vh; /* Asegura que el fondo ocupe toda la altura de la pantalla */
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}
p{padding: 5px;}
/* Encabezado principal */
h1 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
    text-transform: uppercase; /*todo en mayusculas*/
    letter-spacing: 2px;/*espacio entre letras, mas legible*/
}

/* Encabezado y pie de página */
header, footer {
    position: fixed; /* Fija el pie de página en la parte inferior */
    text-align: center;
    background-color: #57057733;
    color: #FFFFFF;
    padding: 1em;
    margin: 1em;
    width: 100%;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
header{
    top: 0; /* Elimina la posición en la parte inferior*/
    left: 0; /* Elimina la alineación a la izquierda*/
    margin: 0; /* Elimina el margen del pie de página */   
}
footer {

    width: 100%;
    text-align: center;
    padding: 5px;
    bottom: 0; /* Elimina la posición en la parte inferior*/
    left: 0; /* Elimina la alineación a la izquierda*/
    margin: 0; /* Elimina el margen del pie de página */
}

/* Estilos para enlaces */
a {
    color: black;
    text-decoration: none;
    text-align: center;
    background-color: #DCD0FF;
    padding: 24px;
    border-radius: 8px;
    width: 100%;
}
ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 1rem;
}
img{
    max-width: 100px;
}
.contenido{ /*sacado de las etiquetas del trabajo grupal para hacer como las etiquetas de las banderas*/
    max-width: 1200px;
    margin: 5rem auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
}
.apartado{
    justify-items: center ;
    display: flex;
    max-width: 70%;
    margin: auto;
    gap: 1rem;
    margin: 1rem;
    padding: 1rem;
    background-color: white;
    border-radius: 8px;
    box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s ease, box-shadow 0.5s ease; /* cambia mas lento el tamaño del apartado */

}
.apartado:hover {
    transform: translateY(-10px);
    box-shadow: 6px 6px 16px rgba(0, 0, 0, 0.2);
}
.apartado a{
    text-decoration: none;
}

