body {
    background-color: whitesmoke;
    max-width: 1000px;
    gap: 10px;
    margin: 0 auto;
    padding: 0 20px;
}

h1 {
    text-align: center;
}

header,
footer {
    text-align: center;
    background-color: #2e9937;
    color: white;
    padding: 1em;
    width: 100%;
    border-radius: 8px;
}

footer {
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    bottom: 0;
}
