/* Configuraci칩n general */
body {
    background-color: #121212;
    color: whitesmoke;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

/* Encabezado principal */
h1 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
    color: white;
}

/* Encabezado y pie de p치gina */
header, footer {
    text-align: center;
    background-color: green;
    color: white;
    padding: 1em;
    width: 100%;
    border-radius: 8px;
    margin-bottom: 20px;
}

footer {
    font-size: 0.9em;
    margin-top: 30px;
    position: fixed;
    /* Fija el pie de p치gina abajo */
    bottom: 0;
    max-width: 1000px;
}

p {
    margin: 10px 0;
    color: #d0d0d0;
}

/* Lista sin vi침etas */
ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

li {
    margin: 50px;
    text-align: center;
    list-style-type: none;
}

/* Estilos para enlaces */
a {
    text-align: center;
    background-color: green;
    color: white;
    padding: 12px 24px;
    width: 100%;
    border-radius: 8px;
    margin-bottom: 20px;
}
