* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html {
    justify-content: center;
    align-items: center;
    font-size: 50px;
    min-height: 100vh; /* Asegura que el body ocupe toda la altura de la ventana */
}
footer {
    text-align: center;
    background-color: green;
    color: white;
    padding: 1em;
    width: 100%;
    border-radius: 8px;
    font-size: 0.9em;
    margin-top: 30px;
    margin-left: 25%;
    /* Fija el pie de página abajo */
    bottom: 0;
    max-width: 1000px;
}
header{
    text-align: center;
    background-color: green;
    color: white;
    padding: 1em;
    border-radius: 8px;
    margin-bottom: 20px;
    top: 0%;
    max-width: 1000px;
    margin-left: 25%;
    padding-top: 0;
    z-index: 2; /*z-index para que el header sticky vaya por encima del ajedrez*/
    position: sticky;


} 
a{
    color: white;
}
nav{
    display: flex;
    flex-direction: row;
    gap: 15px;
}
nav a{
    text-decoration: none;
    background-color: rgb(84, 163, 84);
    border-radius: 5px;
    width: 100%;
    transition: transform 0.5s ease, box-shadow 0.5s ease; /* cambia mas lento el tamaño del apartado */

}
nav a:hover{
    background-color: rgb(1, 46, 1);
    transform: translateY(-10px);

}

.tablero {
    margin-left: 30%;
    width: 800px;
    height: 800px;
    border: 2px solid black;
    overflow: hidden; 
    z-index: 1;
  
}

.casilla {
    float: left;
    width: 99px; /* Cada casilla es 1/8 del tablero, ajustable */
    height: 100px;
}

.fondoblanco {
    background-image: url(../imagenes/fondoblanco.png);
    background-size: cover;
}

.fondonegro {
    background-image: url(../imagenes/fondonegro.png);
    background-size: cover;
}
.salto{
    clear: left;
}
