@font-face {
    font-family: 'Gotham-Black';
    src: url('../../fuente/Gotham-Black.otf') format('truetype'); /* Cambia la ruta según la ubicación de tu archivo */
    font-weight: normal;
    font-style: normal;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html {
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}
footer {
    text-align: center;
    background-color: green;
    color: white;
    padding: 1em;
    width: 100%;
    border-radius: 8px;
    font-size: 0.9em;
    margin-top: 30px;
    margin-left: 25%;
    /* Fija el pie de página abajo */
    bottom: 0;
    max-width: 1000px;
}
header{
    margin-top: 0px;
    text-align: center;
    background-color: green;
    color: white;
    padding: 1em;
    border-radius: 8px;
    margin-bottom: 20px;
    top: 0%;
    max-width: 1000px;
    margin-left: 25%;
    padding-top: 0;
    z-index: 2; /*z-index para que el header sticky vaya por encima del ajedrez*/
    position: sticky;


}
a{
    color: white;
}
nav{
    display: flex;
    flex-direction: row;
    gap: 15px;
}
nav a{
    text-decoration: none;
    background-color: rgb(84, 163, 84);
    border-radius: 5px;
    width: 100%;
    transition: transform 0.5s ease, box-shadow 0.5s ease; /* cambia mas lento el tamaño del apartado */

}
nav a:hover{
    background-color: rgb(1, 46, 1);
    transform: translateY(-10px);

}
.tablero{
    grid-template-columns: auto auto auto auto auto auto auto auto;
    display: grid;
    margin-left: 30%;
    height: 800px;
    width: 800px;
    border: 1px solid black;
    border-collapse: collapse;
    z-index: 1;


}
.casilla{
    width: 100px;
    height: 100px;
    font-size: 30px;
    align-items: center;
    background-size: cover;}
.fondonegro {
    background-image: url('../imagenes/fondonegro.png');
}

.fondoblanco {
    background-image: url('../imagenes/fondoblanco.png');
}

