
/* Configuración general */

@font-face {
    font-family: 'Gotham-Black';
    src: url('../../fuente/Gotham-Black.otf') format('truetype'); /* Cambia la ruta según la ubicación de tu archivo */
    font-weight: normal;
    font-style: normal;
}
body {
    font-family: 'Gotham-Black';
    background-color: rgb(200, 207, 214);
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

/* Encabezado principal */
h1 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
}

/* Encabezado y pie de página */
header, footer {
    max-width: 1000px;
    text-align: center;
    background-color: green;
    color: white;
    padding: 1em;
    width: 100%;
    border-radius: 8px;
    margin-bottom: 20px;
}

footer {
    position: fixed;
    /* Fija el pie de página abajo */
    bottom: 0;
}

/* Estilos para enlaces */
a {
    text-align: center;
    color: white;
}

.contenido{ /*sacado de las etiquetas del trabajo grupal para hacer como las etiquetas de las banderas*/
    max-width: 1200px;
    margin: 2rem auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
}
.apartado{
    justify-items: center ;
    display: flex;
    max-width: 70%;
    margin: 1rem;
    padding: 1rem;
    background-color: green;
    border-radius: 8px;
    border: 15px solid white;
    box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s ease, box-shadow 0.5s ease; /* cambia mas lento el tamaño del apartado */

}
.apartado:hover {
    transform: translateY(-10px);
    box-shadow: 6px 6px 16px rgba(0, 0, 0, 0.2);
}

