
/* Configuración general */

@font-face {
    font-family: 'Gotham-Black';
    src: url('../../fuente/Gotham-Black.otf') format('truetype'); /* Cambia la ruta según la ubicación de tu archivo */
    font-weight: normal;
    font-style: normal;
}
body {
    font-family: 'Gotham-Black';
    background-color: rgb(200, 207, 214);
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

/* Encabezado principal */
h1 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
}

/* Encabezado y pie de página */
header, footer {
    max-width: 1000px;
    text-align: center;
    background-color: green;
    color: white;
    padding: 1em;
    width: 100%;
    border-radius: 8px;
    margin-bottom: 20px;
}

footer {
    position: fixed;
    /* Fija el pie de página abajo */
    bottom: 0;
}


p {
    margin: 10px 0;
}


ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
    
}

li {
    margin: 50px;
    text-align: center;
    list-style-type: none;

}

/* Estilos para enlaces */
a {
    text-align: center;
    background-color: green;
    color: white;
    padding: 12px 24px;
    width: 100%;
    border-radius: 8px;
    margin-bottom: 20px;
}
