@font-face {
    font-family: 'Gotham-Black';
    src: url('../../fuente/Gotham-Black.otf') format('truetype'); /* Cambia la ruta según la ubicación de tu archivo */
    font-weight: normal;
    font-style: normal;
}
/* fondo de estrellas */
.fondo {
    background-image: url("../imagenes/fondopamarte2.PNG");
}

/* Tamaño de la imagen */
.tamaño {
    width: 70%;
    float: right; /*imagen a la derecha */
    margin-left: 15px; /* separa la imagen del texto */
    border-radius: 8px; /*principalmente para que el sol no se vea tan feo */
}

/*Color de texto */
body, h1, p, a, blockquote {
    color: white;
}
body {
    font-family: 'Gotham-Black';
    max-width: 1000px;
    margin: 100px auto; 
    padding: 0 20px;
}