body {
    background-color: whitesmoke;
    max-width: 1000px;
    gap: 10px;
    margin: 0 auto;
    padding: 0 20px;
}

h1 {
    text-align: center;
}

header {
    text-align: center;
    background-color: green;
    color: white;
    padding: 1em;
    width: 100%;
    border-radius: 8px;
}
a {
    color: green;
    font-weight: bold;
}