@font-face {
    font-family: 'Gotham-Black';
    src: url('../../fuente/Gotham-Black.otf') format('truetype'); /* Cambia la ruta según la ubicación de tu archivo */
    font-weight: normal;
    font-style: normal;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Gotham-Black';
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    gap: 10px;
    margin: 0 auto;
    padding: 0 20px;

}

nav a {
    color: white;
    margin: 0 10px;
    font-weight: bold;
    text-decoration: none;
    width: 100%;
}

h1 {
    text-align: center;
}

section {
    background-color: rgb(233, 231, 231);
    padding: 1em;
    border: 1px solid black;
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid grey;
    display: flex;
    flex-wrap: wrap;
}

header,
footer {
    text-align: center;
    background-color: #2e9937;
    color: white;
    padding: 1em;
    width: 100%;
    border-radius: 8px;
    
}

footer {
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    bottom: 0;
    
}

aside {
    flex: 1 1 35%;
    max-width: 250px;
    padding-left: 15px;
    margin-left: 15px;
    border: 1px solid grey;
    border-radius: 8px;
}

article {
    flex: 1 1 60%;
    padding-right: 15px;
}

image {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

video,
iframe {
    border-radius: 8px;
}
/* Estilos para enlaces */
a {
    color: whitesmoke;
    font-weight: bold;
}
.fotos {
    max-width: 100%;
    border-radius: 8px;
    /*pa rendodear fotos con bordes*/
}

.logo {
    border-radius: 8px;
}